@font-face {
  font-family: 'Proxima Light';
  src: url('../fonts/proxima-light.ttf');
}

@font-face {
  font-family: 'Proxima Bold';
  src: url('../fonts/proxima-bold.ttf');
}

:root {
  --color-white: white;
  --color-grey: #f2f2f2;
  --color-darkgrey: #4e4e4e;
}

:root {
	--light-font: 'Proxima Light';
	--bold-font: 'Proxima Bold';
}